html {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Tahoma';
	font-size: 11px;
	color: white;
	width: 100%;
	height: 100%;
	background-color: #1b2838;
}

a {
	text-decoration: none;
}

#app {
	width: 100%;
	height: 100%;
}

#login {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #171a21;
}

#login span {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 1em;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #171a21;
	color: white;
	padding: 0.5em;
}

#header-user {
	display: flex;
}

#header-user a {
	color: #b8b6b4;
}

#header-user a:hover {
	color: white;
}

.friend img {
	border: 2px solid;
	margin-right: 1em;
}

.friend.offline {
	color: #b8b6b4;
}
.friend.offline img {
	border-color: #b8b6b4;
}
.friend.online {
	color: #52a1c1;
}
.friend.online img {
	border-color: #52a1c1;
}
.friend.ingame {
	color: #8eb73b;
}
.friend.ingame img {
	border-color: #8eb73b;
}

#friends {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 300px;
	margin: 1em;
}

.friend {
	display: flex;
	padding: 0.5em 1em;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.friend.true {
	background-color: rgba( 85, 125, 171, 0.4 );
}

#filter {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1em;
}
#filter i {
	flex-grow: 1;
	text-align: center;
}
#filter input {
	flex-grow: 8;
	background-color: transparent;
	color: #c7d5e0;
	outline: none;
	border: none;
}